.header {
    height: 78px;
    background-color: var(--white-color);
    display: inline-flex;
    padding: 19px;
}
.header__logo {
    width: 170px;
    margin-left: -11px;
    margin-right: 36px;
}
.header__list {
    list-style: none;
    padding-left: 0;
    margin-right: 51px;
}
.header__item {
    float: left;
    position: relative;
}
.header__item-link {
    display: block;
    text-decoration: none;
    color: #727476;
    font-size: 1.6rem;
    padding: 0 24px;
}
.subnav__list {
    position: absolute;
    top: calc(100% + 20px);
    background-color: var(--white-color);
    box-shadow: 0 0 3px #ccc;
    width: 190px;
    left: 0;
    list-style: none;
    padding-left: 0;
    display: none;
    z-index: 1;
}
.subnav__list::before {
    content: "";
    position: absolute;
    width: 135px;
    height: 20px;
    top: -20px;
    left: 0;
}
.subnav__item {
    position: relative;
    padding: 15px 20px;
    font-size: 1.4rem;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.header__item:hover .subnav__list {
    display: block;
}
.subnav__list > li:hover {
    background-color: #f9f9f9;
}
.subnav__item-link {
    display: block;
    text-decoration: none;
    color: #6d6d6d;
    letter-spacing: 1px;
}
.subnav__item span {
    padding: 3px 5px;
    background-color: #f76570;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    float: right;
}
.subnav__item-link--active::before {
    content: "";
    float: right;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #555555;
    margin-top: 3px;
}
.subnav__list-child {
    position: absolute;
    box-shadow: 0 0 3px #ccc;
    background-color: var(--white-color);
    width: 190px;
    left: calc(100% + 20px);
    padding-left: 0;
    top: 0;
    list-style: none;
    display: none;
}
.subnav__item-child:hover {
    background-color: #f9f9f9;
}
.subnav__item:hover .subnav__list-child {
    display: block;
}
.subnav__item--active:hover .subnav__list-child {
    display: block;
}
.subnav__list-child::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 49px;
    top: 0;
    left: -20px;
}
.item__icon--active {
    background-color: #14b9d5 !important;
}
.slider {
    background-image: url(/assets/image/slide.jpg);
    /* padding-top: 50%; */
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.slider__heading {
    margin: 4px 0;
    color: rgb(255, 255, 255);
    text-align: center;
    user-select: none;
}
.slider__content {
    width: 100px;
    font-size: 2.2rem;
    width: 433px;
    height: 56px;
    background-color: var(--text-color);
    transform: rotate(-3deg);
}
.slider__content-one {
    animation: leftRight infinite 3s;
}
.slider__content-two {
    animation: rightLeft infinite 3s;
}
.slider__desc {
    animation: bottomTop ease-in 0.5s;
    animation-delay: 0.5s;
}
.btn-slider {
    transform-origin: 50% top;
    animation: topBottom ease-in 0.5s;
    animation-delay: 0.5s;
}
@keyframes leftRight {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes rightLeft {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes bottomTop {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes topBottom {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.slider__heading-text {
    color: rgb(243, 164, 107);
}
.slider__desc-heading {
    font-size: 20px;
    font-weight: 200;
    color: var(--white-color);
    margin-top: 45px;
    line-height: 30px;
    user-select: none;
}
.btn-slider {
    padding: 15px 50px !important;
    font-size: 20px !important;
    margin-top: 97px;
    margin-left: 103px;
    position: relative;
}
.btn-slider::before {
    content: "$25";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: var(--white-color);
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.btn-slider:hover {
    border-radius: 0;
    transition: all linear 0.3s;
    cursor: pointer;
}
.slider__desc-star {
    margin-right: 15px;
}
.slider__desc-heading span {
    display: block;
    margin-left: 42px;
}
.slider__container {
    padding-top: 180px;
    padding-left: 654px;
}
.slider__desc {
    padding-left: 60px;
}
.slider__icon-left {
    position: relative;
    left: 34px;
    top: -340px;
}
.slider__icon-right {
    position: relative;
    top: -379px;
    float: right;
    right: 34px;
}
.slider__icon-right i,
.slider__icon-left i {
    font-size: 4rem;
    color: var(--white-color);
}
.slider__icon-right i:hover,
.slider__icon-left i:hover {
    opacity: 0.6;
    cursor: pointer;
}
.content {
    position: relative;
}
.content__item {
    padding: 136px 82px 60px !important;
    /* background-color: var(--white-color); */
}
.content__item-desc {
    font-size: 14px;
    color: #878787;
    letter-spacing: 2px;
}
.content__item-heading {
    font-size: 36px;
    color: var(--text-color);
    margin: 18px 0;
}
.content__item-heading-child {
    position: relative;
}
.content__item-heading-child::before {
    content: "";
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    z-index: -1;
    background-color: rgba(243, 164, 107, 1);
}
.content-group__desc {
    font-size: 1.4rem;
    color: #9a9a9a;
    line-height: 26px;
    letter-spacing: 2px;
}
.btn-content {
    padding: 14px 35px !important;
    font-size: 1.4rem !important;
    margin-top: 20px;
    cursor: pointer;
}
.conten__item-link-img {
    width: 80px;
    height: 80px;
    position: relative;
    top: 150px;
    left: 76px;
    transition: all linear 0.3s;
}
.conten__item-link-img:hover {
    opacity: 0.6;
}
.content__item-group {
    margin-top: -17px;
}
.place__list {
    position: absolute;
    bottom: 47px;
    padding-left: 15px;
}
.place__item-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    cursor: pointer;
}
.place__item {
    position: relative;
    padding: 0 15px !important;
}
.place__item-price {
    position: absolute;
    top: 21px;
    right: 35px;
}
.place__item-price {
    padding: 5px 20px;
    font-size: 1.4rem;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}
.services {
    background-color: var(--text-color);
    padding: 88px 0;
}
.services .content__item-desc {
    color: var(--white-color);
}
.services .content__item-heading {
    color: var(--white-color);
}
.services .content__item-heading-child::before {
    z-index: 0;
}
.services .product__item-home {
    text-align: left;
    display: flex;
    margin-top: 53px;
}
.services .product__item-home:first-child {
    margin-top: 36px;
}
.services .product__item-heading {
    margin: 0;
    font-size: 2.4rem;
    color: var(--white-color);
}
.services .product__item-desc {
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 26px;
    letter-spacing: 2px;
    margin: 20px 0;
}
.product__item-img {
    width: 50px;
    height: 50px;
    margin-right: 21px;
    margin-left: 14px;
}
.services .btn-product {
    padding: 9px 27px;
    font-size: 1.4rem;
    cursor: pointer;
}

.summer {
    padding-top: 78px;
}
.summer .content__item-desc {
    color: var(--white-color);
}
.summer .content__item-heading {
    font-size: 40px;
    color: var(--white-color);
    font-weight: 700;
}
.summer .content__item-heading-child {
    display: block;
    margin-top: 10px;
}
.summer__item-group {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.summer__item-number {
    font-size: 3.6rem;
    color: var(--white-color);
}
.summer__item-time {
    font-size: 1.4rem;
    color: var(--white-color);
    display: block;
    letter-spacing: 2px;
    margin-top: 10px;
}
.summer .btn-summer {
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 14px 35px;
    font-size: 1.4rem;
    margin-top: 56px;
    cursor: pointer;
}
.summer-home__item-img {
    width: 100%;
}
.summer-home__item-group {
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.summer-group__heading {
    font-size: 2rem;
    margin: 0 0 10px;
    color: var(--text-color);
}
.summer-group__loca {
    font-size: 1.5rem;
    color: #9a9a9a;
    margin: 0 0 25px;
    font-weight: 400;
    letter-spacing: 2px;
}
.summer-price__cultural {
    font-size: 1.3rem;
    color: var(--text-color);
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}
.summer-price__relax {
    font-size: 1.3rem;
    color: var(--text-color);
    letter-spacing: 2px;
}
.summer-price__relax span {
    border-radius: 50px;
    font-size: 1rem;
    padding: 2px 9px;
    color: var(--white-color);
    letter-spacing: 0;
    background-color: var(--yellow-color);
    position: relative;
    top: -1px;
    left: 5px;
}
.summer-home__item-price {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.summer-home__item-price-real {
    float: right;
    display: flex;
    align-items: center;
}
.summer-home__item-price-real {
    font-size: 2.5rem;
    color: var(--text-color);
}
.summer-home__item-desc {
    font-size: 1.4rem;
    line-height: 26px;
    color: #9a9a9a;
    margin-top: 21px;
}
.summer .btn-btnsummer {
    padding: 5px 20px;
    font-size: 1.4rem;
    background-color: var(--yellow-color);
    line-height: 27px;
    margin-top: 4px;
}
.summer-home__icon {
    width: 50px;
    height: 50px;
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    top: 200px;
    right: 29px;
    cursor: pointer;
}
.summer-home__item {
    position: relative;
}
.summer-home__img {
    width: 26px;
    height: 26px;
}
.summer-home__item-price-real span {
    font-size: 20px;
    line-height: 20px;
    text-decoration: line-through;
    margin-right: 12px;
    position: relative;
    bottom: -1px;
    color: #9a9a9a;
}
.summer__sale {
    position: absolute;
    width: 56px;
    height: 21px;
    background-color: var(--text-color);
    color: var(--white-color);
    top: 20px;
    right: 31px;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}
.articles .content__item-desc {
    display: flex;
    justify-content: center;
}
.articles {
    padding-top: 82px;
    padding-bottom: 85px;
}
.articles .content__item-heading-child::before {
    background-color: #1bbc9b;
}
.articles__item-list-item {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.articles__item-list {
    margin-top: 30px;
}
.articles__item-desc {
    font-size: 1.4rem;
    line-height: 26px;
    color: #9a9a9a;
    margin-top: 21px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.articles .btn-articles {
    padding: 9px 20px;
    font-size: 14px;
    background-color: #ba71da;
}
.footer {
    background-image: url(/assets/image/para-07.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
}
.footer__list {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    background-color: var(--white-color);
    transform: translate(9px, 80px);
    /* margin-top: 80px;
    top: 0;
    */
    padding: 35px 30px;
}
.footer__item-desc {
    font-size: 14px;
    line-height: 27px;
    color: #9a9a9a;
    letter-spacing: 2px;
    width: 475px;
    margin-top: 26px;
}
.footer__item-logo {
    width: 150px;
}
.footer__item-desc span {
    position: relative;
}
.footer__item-desc span::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #9a9a9a;
}
.footer__social-icon {
    width: 22px;
    height: 22px;
    margin-right: 23px;
}
.footer__item-desc-text {
    display: block;
}
.footer__social {
    margin-top: 12px;
    display: inline-block;
}
.footer__child-heading {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--text-color);
}
.footer__child-img {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.footer__child-list {
    list-style: none;
    padding-left: 0;
    margin-top: 35px;
}
.footer__child-item {
    font-size: 14px;
    line-height: 27px;
    color: #9a9a9a;
    letter-spacing: 2px;
}
.footer__info-list {
    padding: 0 20px;
}
.footer__info {
    position: absolute;
    bottom: -53px;
    left: 0;
    right: 0;
    /* left: 20px;
    width: 1226px;
    max-width: 100%; */
    background-color: var(--primary-color);
}
.footer__info-item {
    padding: 20px;
    letter-spacing: 1px;
    color: var(--white-color);
    font-size: 1.2rem;
}
.footer__info-item:last-child {
    justify-content: flex-end;
    display: flex;
}
