
/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
    .summer__item {
        padding: 0 0 0 24px
    }
    .summer-home__icon {
        top: 244px;
    }
}
/*MOBILE - TABLET */
@media (max-width: 1023px) {
    .hide-on-mb-tl,
    .btn-slider::before {
        display: none;
    }
    .header {
        width: 100%;
        display: inherit;
        height: 132px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bars {
        width: 25px;
        height: 25px;
        display: block;
        margin-top: 16px;
    }
    .slidebars {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: var(--primary-color);
        z-index: 5;
        padding: 40px;
        overflow: auto;
        transform: translateX(100%);
        transition: all ease-out 0.7s;
    }
    .checkbox:checked ~ .slidebars {
        transform: translateX(0%);
    }
    .close {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .menu__list {
        list-style: none;
        padding-left: 0;
    }
    .menu__item {
        
    }
    .menu__item-link {
        display: block;
        color: var(--white-color);
        text-decoration: none;
        font-size: 2.4rem;
        letter-spacing: 2px;
        padding: 20px 0;
    }
    .menu__list-child {
        list-style: none;
        padding-left: 0;
    }
    .menu__item-child-link {
        font-size: 1.5rem;
        color: var(--white-color);
        padding: 15px;
        letter-spacing: 2px;
        text-decoration: none;
        display: block;
    }
    .menu__item-child-link--child {
        font-size: 1.5rem;
        color: var(--white-color);
        padding: 15px 30px;
        letter-spacing: 2px;
        text-decoration: none;
        display: block;
    }
    .menu__list-child--child,
    .menu-child__list {
        padding-left: 0;
        list-style: none;
    }
    .menu-child__item {
        color: var(--white-color);
        font-size: 1.4rem;
        padding: 15px 40px;
    }
    .conten__item-link-img {
        top: 228px;
        left: 280px;
    }
    .btn-slider {
        right: -252px;
        top: 714px;
        margin: 0;
        width: 248px;
    }
    .slider__icon-left {
        top: 343px;
    }
    .slider__icon-right {
        top: 304px;
    }
    .slider__icon-left {
        width: 25px !important;
    }
    .slider__container {
        padding: 0;
    }
    .content__item {
        padding: 75px 0px 0px !important;
    }
    .place__list {
        position: inherit;
        padding-left: 0;
    }
    .place__item-img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .summer-home__icon {
        top: 169px;
    }
    .place__item {
        padding: 10px 0 !important;
    }
    .summer__item {
        
    }
    .summer-home__item {
        margin-top: 30px;
    }
    .footer__info-item {
        position: inherit;
    }
    .footer__info-item:last-child {
        display: flex;
        justify-content: center;
        right: 0 !important;
    }
    /* .footer__info {
        top: 962px;
        left: 54px;
        width: 657px;
        max-width: 100%;
        text-align: center;
    } */
    .footer__list {
        width: 657px;
        max-width: 100%;
    }
    .footer {
        height: 1117px;
    }
    .footer__item-desc {
        width: auto;
    }
    .content-services-mb {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
    .summer .content__item-heading-child {
        display: inline;
    }
    .footer__info-item {
        text-align: center;
    }
    .footer__info-item:last-child {
        right: 0 !important;
    }
    .summer-home__icon {
        top: 375px;
    }
}

/* MOBILE */
@media (max-width: 739px) {
    .app {
        overflow: hidden;
    }
    .hide-on-mb-tl,
    .btn-slider::before {
        display: none;
    }
    .header {
        width: 100%;
        display: inherit;
        height: 132px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bars {
        width: 25px;
        height: 25px;
        display: block;
    }
    .conten__item-link-img {
        top: 228px;
        left: 280px;
    }
    .btn-slider {
        right: -252px;
        top: 714px;
        margin: 0;
        width: 248px;
    }
    .slider__icon-left {
        top: 343px;
    }
    .slider__icon-right {
        top: 304px;
    }
    .slider__icon-left {
        width: 25px !important;
    }
    .slider__container {
        padding: 0;
    }
    .content__item {
        padding: 75px 0px 0px !important;
    }
    .place__list {
        position: inherit;
        padding-left: 0;
    }
    .place__item-img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .place__item {
        padding: 10px 0 !important;
    }
    .summer-home__item {
        margin-top: 30px;
    }
    .footer__info-item {
        position: inherit;
    }
    .footer__info-item:last-child {
        display: flex;
        justify-content: center;
        right: 0 !important;
    }
    .slider {
        height: 400px;
    }
    .slider__icon-left {
        top: 196px;
    }
    .slider__icon-right {
        top: 156px;
    }
    .btn-slider {
        margin: auto;
        display: flex;
        right: 3px;
        position: relative;
        top: 318px;
        padding: 8px 15px;
        font-size: 1.6rem !important;
    }
    /* .footer__info {
        top: 962px;
        left: 54px;
        width: 657px;
        max-width: 100%;
        text-align: center;
    } */
    .footer__list {
        width: 657px;
        max-width: 100%;
    }
    .footer {
        height: 1117px;
    }
    .footer__item-desc {
        width: auto;
    }
    .conten__item-link-img {
        top: 228px;
        left: 119px;
    }
    .content-services-mb {
        padding-left: 0;
        padding-right: 0;
    }
    .footer__list {
        width: 320px;
        margin-left: 18px;
    }
    .footer__info {
        bottom: -107px;
    }
    .footer {
        height: 1242px;
    }
    .content {
        padding: 0 30px;
    }
    .summer__item--active {
        padding: 0 ;
    }
}
@media (max-width: 360px) {
    .footer__list {
        width: 294px;
        margin-left: 22px;
    }
}
@media (max-width: 320px) {
    .footer__list {
        width: 258px;
    }
    .summer-home__icon {
        top: 133px;
    }
}
@media (max-width: 280px) {
    .summer-home__icon {
        top: 133px;
    }
    .btn-slider {
        display: flex;
        justify-content: center;
    }
    .conten__item-link-img {
        top: 228px;
        left: 91px;
    }
    .content {
        padding: 10px;
    }
    .summer-home__item-group {
        padding: 11px;
    }
    .footer__list {
        width: 223px;
        margin-left: 19px;
    }
    .footer {
        height: 1390px;
    }
    .footer__info-list {
        text-align: center;
    }
}


